@font-face {
  font-family: 'Hind Madurai';
  font-weight: 300;
  src: url('../fonts/Hind_Madurai/HindMadurai-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind Madurai';
  font-weight: 400;
  src: url('../fonts/Hind_Madurai/HindMadurai-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind Madurai';
  font-weight: 500;
  src: url('../fonts/Hind_Madurai/HindMadurai-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind Madurai';
  font-weight: 600;
  src: url('../fonts/Hind_Madurai/HindMadurai-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Hind Madurai';
  font-weight: 700;
  src: url('../fonts/Hind_Madurai/HindMadurai-Bold.ttf') format('truetype');
}
