.bookmark-wrapper {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgb(218, 217, 218);
  display: flex;
  flex-wrap: wrap;
  height: 32px;
  overflow: auto;
  padding: 0;
  padding-left: 8px;
  position: fixed;
  width: calc(100% - 8px);
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  .dropdown-btn,
  a {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11.4px;
    height: 15px;
    margin-right: 3.7px;
    max-width: calc(150px - 12px);
    padding: 6px;
    text-decoration: none;
    transition: background-color .3s ease-in-out;

    img {
      height: 16px;
      margin-right: 10px;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dropdown-btn:hover,
  a:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  .dropdown-btn:focus,
  a:focus {
    outline: 0;
  }

  .dropdown-btn {
    align-items: center;
    color: rgb(91, 93, 97);
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 87%;
    justify-content: center;
    position: absolute;
    right: 9px;
    transform: rotate(180deg);
  }
}

.overflow-area {
  background-color: #fff;
  border: 1px solid #dad9da;
  border-radius: 8px;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  max-height: 275px;
  overflow: scroll;
  padding: 8px 0;
  position: absolute;
  right: 14px;
  top: 25px;
  width: 398px;
  z-index: 999999;

  a {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: black;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11.4px;
    font-size: 12px;
    height: 15px;
    margin: 0;
    margin-right: 5px;
    min-height: 15px;
    padding: 6px 25px;
    text-decoration: none;

    img {
      height: 16px;
      margin-right: 10px;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .dropdown-btn:hover,
  a:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  .dropdown-btn:focus,
  a:focus {
    outline: 0;
  }
}

